
<body class="picnic">

<p id="Title"> BURGR </p>
<div class="row">
  <div  class="small-6 large-centered columns">
    <div id="search" class="row panel callout radius">
      <%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
        <div class="small-9 columns">
          <%= text_field_tag :search, params[:search], placeholder: "Search BURGR joints!"%>
        </div>
        <div class="small-3 columns">
          <%= submit_tag "Search", :name => nil, class: "button postfix"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<div id="app">
</div>
</body>
