<h1> Burgr Joints </h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </li>
    <% if current_user != nil && current_user.admin %>
      | <%= link_to "destroy", restaurant, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
</ul>

<% if @restaurants.blank? %>
  <h4>There are no restaurants containing the term <%= params[:search] %>.</h4>
<% end %>

<div id="app">

</div>
