nav.top-bar {
  background-color: #E5CB7A;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #450E06;
}
.top-bar .name h1 a {
  color: #450E06;
  font-family: Molot;
  src: url(Molot.woff);
}
p#Title {
  color: #450E06;
  font-size: 400px;
  font-family: Molot;
  src: url(Molot.woff);
  text-align: center;
  text-decoration: overline underline;
   text-decoration-color: #E5CB7A;
   text-shadow: 10px 10px #FF4500;
}
.picnic {
  background-image: url("picnic_table_cloth.png");
  background-size: 100%;
}

div#search {
  background-color: #E5CB7A;
  box-shadow: 10px 10px #FF4500;
}
