@font-face {
  font-family: 'Molot';
  src: url('/assets/Molot.woff')
}

nav.top-bar {
  background-color: #E5CB7A;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #E5CB7A;
  color: #450E06;
  font-family: Molot;
  src: url(Molot.woff);
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background-color: #d2a33e;
  color: #450E06;
}
.top-bar .name h1 a {
  color: #450E06;
  font-family: Molot;
  src: url(Molot.woff);
}
p#Title {
  color: #450E06;
  font-size: 15em;
  font-family: Molot;
  src: url(Molot.woff);
  text-align: center;
  text-shadow: 5px 5px #A2402A;
  position: relative;
  top: 100px
}
.picnic {
  background-image: url("picnic_table_cloth.png");
  background-size: 100%;
}

div#search {
  background-color: #E5CB7A;
}
