a {
  color: white;
}

.show_page_title {
  font-family: Molot;
  src: url(Molot.woff);
  text-align: center;
}

.restaurant_show_page_box {
  border: 3px solid #450E06;
  border-radius: 10px;
  background: #6385fb;
  margin: auto;
  width: 33%;
  position: relative;
  top: 4.5%;
}

.info{
  background-color: #E5CB7A;
  box-shadow: 10px 10px #FF4500;
  margin: 2em;
  padding: 1em 3em 1em 3em;
  border: 1px solid grey;
}

#smallBox {
  background-color: #EDE0B6;
  box-shadow: 10px 10px #F08158;
  margin: 2em;
  padding: 1em 3em 1em 3em;
  border: 1px solid grey;
}

#descriptionBox {
  background-color: #EDE0B6;
  box-shadow: 10px 10px #F08158;
  margin: 2em;
  padding: 1em 3em 1em 3em;
  border: 1px solid grey;
}


#stateZip {
  text-align: right;
}

#reviewContainer {
  margin: 5%;
  background-color: #E5CB7A;
  box-shadow: 10px 10px #FF4500;
  margin: 2em;
  padding: 1em 3em 1em 3em;
  border: 1px solid grey;
}
