.burgr_joints {
  color: #450E06;
  font-size: 65px;
  font-family: Molot;
  src: url(Molot.woff);
  text-align: center;
  text-shadow: 1px 1px #994800;
  position: relative;
}

.index-container {
  border: 3px solid #450E06;
  border-radius: 10px;
  background: #6385fb;
  margin: 2em;
  padding: 1em 3em 1em 3em;
  font-family: 'Oswald', sans-serif;
  text-align: center;

  align-content: center;
}

.index-link-and-info-container {
  margin: 0em;
  padding: 0em 12em 0em 0em;
  color: #450E06;
}

.index-info {
  padding-left: 1em;
  text-align: center;
  color: #450E06;
}

a{
  color: #450E06;
}

a:hover{
  color: #994800;
}
.restaurant_link {
  padding-bottom: .25em;
  border-bottom: 3px solid #fbb931;
  font-family: Molot;
  src: url(Molot.woff);
  text-align: center;

}

.restaurant_link:hover {
  color: #450E06;
}
