.index-container {
  background-color: #E5CB7A;
  box-shadow: 10px 10px #FF4500;
  margin: 2em;
  padding: 1em 3em 1em 3em;
  border: 1px solid grey;
}

.index-link-and-info-container {
  margin: 0em;
  padding: 0em 12em 0em 0em;
}

.index-info {
  padding-left: 1em;
}

.index-link {
  margin-left: 0em;
  padding-left: 0em;
  padding-bottom: .25em;
  border-bottom: .5px solid grey;
}

.index-image {
  border: 2px solid grey;
  height: 10em;
  width: 10em;
}
