.text-center {
  color: #450E06;
  font-size: 65px;
  font-family: Molot;
  src: url(Molot.woff);
  text-align: center;
  text-shadow: 1px 1px #994800;
  position: relative;
}

.index-container {
  border: 3px solid #450E06;
  border-radius: 10px;
  background: #6385fb;
  margin: 2em;
  padding: 1em 3em 1em 3em;
}

.index-link-and-info-container {
  margin: 0em;
  padding: 0em 12em 0em 0em;
}

.index-info {
  padding-left: 1em;
}

.index-link {
  margin-left: 0em;
  padding-left: 0em;
  padding-bottom: .25em;
  border-bottom: 3px solid #fbb931;
}

.index-image {
  border: 2px solid grey;
  height: 10em;
  width: 10em;
}
